.contact_list_item:hover {
  cursor: pointer;
}

.contact_list_item {
  height: 60px !important;
}

.contact_first_letter {
  color: purple !important;
  padding-right: 5px !important;
}

.contact_full_name {
  font-weight: 500 !important;
}

.contact_action_buttons {
  text-align: right !important;
}

.contact_action_buttons > button {
  padding: 7px;
}

.contact_form_avatar, .contact_info_avatar {
  width: 60px !important;
  height: 60px !important;
}

.contact_form .MuiGrid-item-2 {
  text-align: center !important;
  align-self: center !important;
}

.contact_form .MuiGrid-item-2:not(:first-child) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.contact_form .MuiGrid-grid-xs-2-31:not(:first-child) {
  padding-top: 20px !important;
}

.create_contact_button {
  position: fixed !important;
  bottom: 5% !important;
  right: 5% !important;
}

.contact_avatar > div {
  background: #e1eaea !important;
}

.contact_info_content {
  margin: 10px 0 20px !important;
}

.contact_info_content .MuiGrid-item-2 {
  padding: 3px 0 !important;
}

.contact_info_avatar {
  background: white !important;
}

.contact_info_title {
  background: #eaf1f9 !important;
}

.contact_info_title .MuiGrid-item-2 {
  font-weight: 400 !important;
}

.contact_info_modal .MuiGrid-item-2 {
  align-self: center !important;
}

.contact_info_details_title {
  margin: 30px 0 !important;
  font-weight: 500 !important;
}

.contact_info_icon {
  text-align: center !important;
}

.contact_info_details_title, .contact_info_content .MuiGrid-item-2 > p {
  color: rgba(0, 0, 0, 0.87) !important;
}

.contact_info_content .material-icons {
  margin-top: 6px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

@media only screen and (max-width: 1024px) {
  /* For mobile: */
  .contact_email {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .contact_full_name {
    padding: 5px !important;
  }

  .contact_email, .contact_phone_number {
    display: none !important;
  }

  .contact_form_avatar, .contact_info_avatar {
    width: 45px !important;
    height: 45px !important;
  }
}
