.contact_first_letter {
  color: purple !important;
  padding-right: 5px !important;
}

.contact_full_name {
  font-weight: 500 !important;
}

.contact_action_butons {
  width: 20%;
}

.contact_form_avatar {
  width: 60px !important;
  height: 60px !important;
}

.contact_form .MuiGrid-item-2 {
  text-align: center !important;
  align-self: center !important;
}

.contact_form .MuiGrid-item-2:not(:first-child) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.contact_form .MuiGrid-grid-xs-2-31:not(:first-child) {
  padding-top: 20px !important;
}

.create_contact_button {
  position: fixed !important;
  bottom: 5% !important;
  right: 5% !important;
}

@media only screen and (max-width: 1024px) {
  /* For mobile: */
  .contact_email {
    display: none !important;
  }

  .contact_action_butons {
    width: 30% !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .contact_full_name {
    padding: 5px !important;
  }

  .contact_email, .contact_phone_number {
    display: none !important;
  }

  .contact_action_butons {
    width: 35%;
  }

  .contact_form_avatar {
    width: 45px !important;
    height: 45px !important;
  }
}
